<footer style="background: #67b26f;background: -webkit-linear-gradient(to right, #67b26f, #4ca2cd);  background: linear-gradient(to right, #67b26f, #4ca2cd); padding-top: 30px; padding-bottom: 35px;">
  <div class="row">
    <div class="col-sm-4 text-center">
      <p style="color:white; font-size:20px;">Contacta con nosotros</p>
      <p style="color:white; font-size:13px;">hola@wolalab.com</p>
      <p style="color:white; font-size:13px;">Madrid</p>
    </div>
    <div class="col-sm-4 text-center">
      <p style="color:white; font-size:20px;">Síguenos</p>
      <a href="#" style="color:white; font-size:13px;"><p>Twitter</p></a>
      <a href="#" style="color:white; font-size:13px;"><p>Facebook</p></a>
      <a href="#" style="color:white; font-size:13px;"><p>Github</p></a>
    </div>
    <div class="col-sm-4 text-center">
      <p style="color:white; font-size:20px;">Wolalab</p>
      <a href="/privacy/explanation" style="color:white; font-size:13px;"><p>Políticas</p></a>
      <a href="/policies/terms-of-use" style="color:white; font-size:13px;"><p>Términos de Uso</p></a>
      <a href="/policies/cookies" style="color:white; font-size:13px;"><p>Cookies</p></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <img class="logo" style="width:85px; height:85px;border-radius: 100px;background-color: white;padding: 10px;" src="" alt="Wolalab">
    </div>

  </div>
</footer>